{% extends 'blog/base.html' %}


 {% block content %}

     <br>

<div class="container">
    <h1 style="font-family: cursive;">An Ode to CSA</h1>
    <p class="about">First step into CSA classroom and any outsider would call it a handful of crazy hyperactive people stuck in one class but for us it comes with a huge sigh, of relief.
The kind you feel when you go home after a long vacation. For us its the one place where we are sure to find acceptance, where we have people joining in our crazy schemes instead of frowning upon them(which would be the sensible thing to do, but hey, this is CSA we are talking about).
Don't get me wrong, we are all people from different backgrounds with different skillsets and thought processes. No two people here are the same.Yet, our unity doesn't seem to have boundaries. It is this unity of ours that sets us apart from the others.
Even though MEC wasn't our dream college, after a month of hanging around with these awesome people, we all came to realise that maybe this wasn't so bad either. Here you at least have a bunch of idiots crazier than you to keep you company.
Every day is a memory. This class is live and has 61 hearts pumping it to life. We ain't sad of our past shortcomings no more cause we are certain, with every passing day, that we were brought together for a reason and every day, we celebrate this togetherness.
Unity though, is not an easy trait to achieve. Especially, when it's a coming together of people of vast social and linguistic differences. This gives rise to yet another question :  How united?
Closer analysis has revealed that the past has left significant scars on the majority. This unity, hence, seems to be the result of those individuals' attempts trying to turn a page and start afresh. These collective individual efforts along with that natural teen desire
for frolics seemingly has made CSA that class in everyone's dreams.
The future seems bright. We are a multi-talented group facing life with a smile. If "When spiders unite, they can tie down a lion", and CSA already seems to be a pride of lions... one can only imagine what's in the making.
So, this one's for you CSA, for managing to always bring us joy and filling our lives with these idiotic wonderful people.</p>

</div>

 {% endblock %}

